/************************** TAG SELECTORS **************************/

body {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 0 0 0;
}

hr { border: dotted coral 6px;
    border-bottom: none;
    width: 20%;
    margin: 10px auto;
}
h2 {
    text-align: center; 
    color: aliceblue;   
}
h4 {
 
    color: aliceblue;   
}

/************************** CLASS SELECTORS **************************/
.topo {
    background-color: coral;
    
}

.principal {
    background-color: #0d2b7b;
}
.textcont2 {
    background-color: #1f3a85;   
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    color: rgb(165, 165, 159);
    height: 535px;
    
   
}

.baixoprincipal {
    background-color: darkgray;
   
}

/************************** ID SELECTORS **************************/

#top {
    background-color: coral;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 200px 0 200px;
    text-align: center;
      
}

#logo {
     width: 100%;
     
     margin-right: 0px;
     margin-top: 10px;
}
     
#foto {
        width: 35%;
        float: left;
        margin-right: 10px;
        margin-bottom: 0px;
}

#conteudo1 {
    background-color: #0d2b7b;
    margin: 0 200px 0 200px;
    
}
#conteudo2 {
        background-color: #0d2b7b;
        margin: 0 200px 0 200px;
        text-align: center;
        
}
#conteudo3 {
            background-color: #0d2b7b;
            margin: 0 200px 0 200px;
            text-align: center;
        
}

#baixo {    
    background-color: darkgray;
    height: 200px;
    margin: 0 200px 0 200px;
}
